.dashContainer
  {
      padding:4rem;
      display: grid;
      justify-content: center;
      grid-template-areas: "left left right"
      "bottom bottom bottom";
      gap: 2rem;
      row-gap: 4rem;
  }
  .dash-left
  {
    grid-area: left; 
    box-shadow: 1px 3px 3px 0px rgb(103, 151, 255);
    padding:2rem;
  }
  .dash-right
  {
    grid-area: right;
    display: flex;
    align-items: center;
  }

  .team-mate
  {
    padding: 2rem;
    margin-top: 4rem;
    border: solid .1rem whitesmoke;
    border-radius: 1rem;
    max-width: 60rem;
    min-width: 18rem;
    min-height: 14rem;
  }




  .inputbox {
    position: relative;
    width: 100%;
    padding-top: 2.3rem;
  }
  
  .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
  }
  
  .inputbox input:valid ~span,
  .inputbox input:focus ~span {
    color: rgb(103, 151, 255);
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(103, 151, 255);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
    height: 44px;
  }




 /* Input container */
.input-container {
    position: relative;
    margin: 20px;
  }
  
  /* Input field */
  .input-field {
    display: block;
    width: 100%;
   
    padding: 10px;
    font-size: 19px;
    
    border: none;
    border-bottom: 4px solid #ffffff;
    outline: none;
    background-color: transparent;
  }
  
  /* Input label */
  .input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  /* Input highlight */
  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color:rgb(103, 151, 255);
    transition: all 0.3s ease;
  }
  
  /* Input field:focus styles */
  .input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: rgb(103, 151, 255);
  }
  
  .input-field:focus + .input-label + .input-highlight {
    width: 100%;
  }
  



  .save {
    font-family: inherit;
    font-size: 20px;
    background:  #2d6bd5;
    color: white;
    fill: rgb(255, 255, 255);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
  }
  
  .save span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .save svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .save:hover {
    background: #2d6bd5;
  }
  
  .save:hover .svg-wrapper {
    transform: scale(1.25);
    transition: .5s linear;
  }
  
  .save:hover svg {
    transform: translateX(1.2em) scale(1.1);
    fill: #fff;
  }
  
  .save:hover span {
    opacity: 0;
    transition: .5s linear;
  }
  
  .save:active {
    transform: scale(0.95);
  }
  
  
  
  .card {
    width: 360px;
    height: 260px;
    perspective: 1000px;
    background-color: #23242a00;
    border: none;
}
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front {
    background: linear-gradient(132deg, rgb(103, 151, 255) 6.23%, rgb(135, 165, 228) 73.69%);
    color: #23242a;
    display: flex;
    align-items: center;
    border: 5px solid  linear-gradient(132deg, rgb(103, 151, 255) 6.23%,  rgb(135, 165, 228) 73.69%);
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color:  rgb(103, 151, 255);
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid  rgb(103, 151, 255);
    border-radius: 10px;
    justify-content: center;
    font-size: 20px;
    transform: rotateY(180deg);
  }
  
  
  
.idea-submission
{
    grid-area: bottom;
   
}

.continue-application {
  --color: #fff;
  --background: #404660;
  --background-hover: #3A4059;
  --background-left: #2B3044;
  --folder: #F3E9CB;
  --folder-inner: #BEB393;
  --paper: #FFFFFF;
  --paper-lines: #BBC1E1;
  --paper-behind: #E1E6F9;
  --pencil-cap: #fff;
  --pencil-top: #275EFE;
  --pencil-middle: #fff;
  --pencil-bottom: #5C86FF;
  --shadow: rgba(13, 15, 25, .2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}

.continue-application > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.continue-application > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.continue-application > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before, .continue-application > div .folder:after,
.continue-application > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.continue-application > div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.continue-application > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before, .continue-application > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.continue-application > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.continue-application:before, .continue-application:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  transform-origin: 9px 1px;
  transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 26px;
  right: 16px;
  transition: transform 0.3s;
}

.continue-application:after {
  --r: 45deg;
}

.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: .15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: .15s;
  --pex: -24px;
}


  
  @media(max-width:792px){
    .dashContainer
  {
      grid-template-areas: "right"
      "left"
      "bottom";
  }
  }



/* tracks */
.tracks-card-back{
  
  color: #fff;
  display: flex;
  align-items: center;

  border-radius: 10px;
  justify-content: center;
  font-size: 20px;
 
}
.track-back
{
  backdrop-filter: blur(10px);
  border: solid .16rem;
  border-radius: 1rem;
  background: none;
  border-image: linear-gradient(45deg, #0057E7, #D62D20, #FFA700, #0057E7, #008744, #D62D20) 1;
}

.tracks-card{
  background: rgba(19, 15, 52, 0);
  min-width: 18rem;
 
}

.track-front1,.track-front3,.track-front5,.track-front7,.track-front9,.track-front11
{
  transition-timing-function: ease-in-out;
  animation: bouncy 7s infinite;
 
}
.track-front2,.track-front4,.track-front6,.track-front8,.track-front10,.track-front12
{
  transition-timing-function: ease-in-out;
  animation: bouncy2 5s infinite;
}

@keyframes bouncy{
  50%{
    transform:translate(.3rem,.3rem);
  }
}
@keyframes bouncy2{
  50%{
    transform:translate(-.3rem,-.3rem);
  }
}
.tracks-small
{
  display: none;
  
}
.tracks-big
{
  display:flex;
}
@media(max-width:768px)
 {
  .tracks-small
  {
    display:block;
  }
  .tracks-big
  {
    display:none;
  }
 }